$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$DarkGray: hsl(0, 0%, 55%);
$VeryDarkGray: hsl(0, 0%, 41%);

$font-stack-1: 'Alata', sans-serif;
$font-stack-2: 'Josefin Sans', sans-serif;

$font-weight-300: 300;
$font-weight-400: 400;